<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.productbrowser.dataDefinition">
      <dataDefinition
            class="gov.noaa.nws.ocp.viz.odim.ODIMProductBrowserDataDefinition"
            name="odimProductBrowserDataDefinition">
      </dataDefinition>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ocp.viz.odim.rsc.ODIMRadialResource"
            name="ODIM Image"
            recordClass="gov.noaa.nws.ocp.common.dataplugin.odim.ODIMRecord"
            renderingOrderId="IMAGE_LOCAL"
            resourceType="PLAN_VIEW">
      </resource>
      <resource
            class="gov.noaa.nws.ocp.viz.odim.rsc.mosaic.ODIMMosaicResource"
            name="ODIM Mosaic"
            recordClass="gov.noaa.nws.ocp.common.dataplugin.odim.ODIMRecord"
            renderingOrderId="IMAGE_LOCAL"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>

</plugin>
