<?xml version="1.0" encoding="UTF-8"?>
<plugin>
      <extension
            point="com.raytheon.uf.viz.core.resource">
         <resource
               class="gov.noaa.nws.ocp.viz.firewx.rsc.FirewxResource"
               name="Point Data"
               renderingOrderId="PLOT"
               resourceType="PLAN_VIEW">
         </resource>
      </extension>
</plugin>
