PRELIMINARY LOCAL CLIMATOLOGICAL DATA (WS FORM: F-6)

                                          STATION:   $stationName
                                          MONTH:     $month
                                          YEAR:      $year
                                          LATITUDE:  $latdeg$latmin $north      
                                          LONGITUDE: $longdeg$longmin $west    

  TEMPERATURE IN F:       :PCPN:    SNOW:  WIND      :SUNSHINE: SKY     :PK WND 
================================================================================
1   2   3   4   5  6A  6B    7    8   9   10  11  12  13   14  15   16   17  18
                                     12Z  AVG MX 2MIN
DY MAX MIN AVG DEP HDD CDD  WTR  SNW DPTH SPD SPD DIR MIN PSBL S-S WX    SPD DR
================================================================================

#foreach ($d in $dailyList)
$d.dy$d.max$d.min$d.avg$d.dep$d.hdd$d.cdd$d.wtr$d.snw$d.dpth$d.spd$d.mxspd$d.dir$d.minsun$d.psbl$d.ss$d.ws$d.isp$d.dr
#end
================================================================================
SM$sumMax$sumMin      $sumHdd$sumCdd$sumWtr$sumSnw   $sumAvgspd      $sumMinSun     $sumSS              
================================================================================
AV$avgmax$avgmin                             $avgspd FASTST$avgms$avgpsbl$avgss    MAX(MPH)  
                                 MISC ---->  $maxflag$maxspd $maxdir               $maxgflag$maxgspd $maxgdir   
================================================================================
NOTES:
# LAST OF SEVERAL OCCURRENCES

COLUMN 17 PEAK WIND IN M.P.H.

PRELIMINARY LOCAL CLIMATOLOGICAL DATA (WS FORM: F-6) , PAGE 2

                                          STATION:   $stationName
                                          MONTH:     $month
                                          YEAR:      $year
                                          LATITUDE:  $latdeg$latmin $north      
                                          LONGITUDE: $longdeg$longmin $west                   

[TEMPERATURE DATA]      [PRECIPITATION DATA]       SYMBOLS USED IN COLUMN 16    

AVERAGE MONTHLY:$avgTempf   TOTAL FOR MONTH:$tfm    1 = FOG OR MIST              
DPTR FM NORMAL: $dptrtemp   DPTR FM NORMAL:$dptrprcp    2 = FOG REDUCING VISIBILITY  
HIGHEST:  $maxtemp ON $mtday$mtday2  GRTST 24HR $precipMax24H ON $precip24H1      TO 1/4 MILE OR LESS      
LOWEST:   $mintemp ON $mintday$mintday2                             3 = THUNDER                  
                        SNOW, ICE PELLETS, HAIL    4 = ICE PELLETS              
                        TOTAL MONTH:$snowTotal  5 = HAIL                     
                        GRTST 24HR $snowMax24H $flagON $snowMax24Hday  6 = FREEZING RAIN OR DRIZZLE 
                        GRTST DEPTH: $gdepth  7 = DUSTSTORM OR SANDSTORM:  
                                                       VSBY 1/2 MILE OR LESS    
                                                   8 = SMOKE OR HAZE            
[NO. OF DAYS WITH]      [WEATHER - DAYS WITH]      9 = BLOWING SNOW             
                                                   X = TORNADO                  
MAX 32 OR BELOW: $max32    0.01 INCH OR MORE: $max32i                      
MAX 90 OR ABOVE: $max90    0.10 INCH OR MORE: $max90i                      
MIN 32 OR BELOW: $min32    0.50 INCH OR MORE: $min32i                      
MIN  0 OR BELOW: $min0    1.00 INCH OR MORE: $min0i                        

[HDD (BASE 65) ]                                                                
TOTAL THIS MO.$ttm    CLEAR  (SCALE 0-3)  $s03                                  
DPTR FM NORMAL$dfn    PTCLDY (SCALE 4-7)  $s47                                  
TOTAL FM JUL 1$tfj    CLOUDY (SCALE 8-10) $s80                                  
DPTR FM NORMAL$dfn2                                                            

[CDD (BASE 65) ]                                                                
TOTAL THIS MO.$ttm2                                                            
DPTR FM NORMAL$dfn3    [PRESSURE DATA]                                         
TOTAL FM JAN 1$tfj2    HIGHEST SLP $maxslp ON $daymaxslp        
DPTR FM NORMAL$dfn4    LOWEST  SLP $minslp ON $dayminslp        

[REMARKS]
$remarks