<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspective"
            icon="icons/cli_persp.png"
            id="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspective"
            name="Climate">
      </perspective>
   </extension>
 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="gov.noaa.nws.ocp.viz.climate.perspective.isClimatePerspective">
       <with
             variable="activeWorkbenchWindow.activePerspective">
          <equals
                value="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspective">
          </equals>
       </with>
    </definition>
    <definition
          id="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
       <with
             variable="activeContexts">
          <iterate
                operator="or">
             <equals
                   value="gov.noaa.nws.ocp.viz.climate.perspective.ClimateActionSet">
             </equals>
          </iterate>
       </with>
    </definition>
 </extension>
 <extension
         point="org.eclipse.ui.views">
      <category
            id="gov.noaa.nws.ocp.viz.climate"
            name="Climate Views">
      </category>
      <view
            class="gov.noaa.nws.ocp.viz.climate.perspective.views.ClimateView"
            id="gov.noaa.nws.ocp.viz.climate.perspective.views.ClimateView"
            name="Climate Products"
            category="gov.noaa.nws.ocp.viz.climate"
            restorable="true">
      </view>
      <view
            class="gov.noaa.nws.ocp.viz.climate.perspective.views.ClimateProdGenerationView"
            id="gov.noaa.nws.ocp.viz.climate.perspective.views.ClimateProdGenerationView"
            name="Climate Product Generation"
            category="gov.noaa.nws.ocp.viz.climate"
            restorable="true">
      </view>
      <view
            class="gov.noaa.nws.ocp.viz.climate.perspective.views.ClimateProductSentViewer"
            id="gov.noaa.nws.ocp.viz.climate.perspective.views.ClimateProductSentViewer"
            name="Climate Product Viewer"
            category="gov.noaa.nws.ocp.viz.climate"
            restorable="true">
      </view>
  </extension>
   <!-- Viz Climate Perspective Manager -->
    <extension 
         point="com.raytheon.viz.ui.perspectiveManager">
        <perspectiveManager
            perspectiveId="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspective"
            class="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspectiveManager"
            name="ClimatePerspectiveManager">
        </perspectiveManager>
    </extension>
 <extension
       point="org.eclipse.ui.menus">
    <!-- Climate toolbar icons -->
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="gov.noaa.nws.ocp.viz.climate.perspective.ClimateToolbar">
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.qualitycontrol"
                icon="icons/cli_qc.png"
                id="gov.noaa.nws.ocp.viz.climate.qualitycontrol"
                label="Quality Control Climate Database"
                style="push"
                tooltip="Quality Control Climate Database">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
                </reference>
             </visibleWhen>
          </command>
          <control
                class="gov.noaa.nws.ocp.viz.climate.perspective.SeparatorControl"
                id="gov.noaa.nws.ocp.viz.climate.perspective.separator">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
                </reference>
             </visibleWhen>
          </control>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.f6builder.f6Builder"
                icon="icons/cli_f6.png"
                id="gov.noaa.nws.ocp.viz.climate.f6builder.f6Builder"
                label="Create F6 Products"
                style="push"
                tooltip="Create F6 Products">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
                </reference>
             </visibleWhen>
          </command>
          <control
                class="gov.noaa.nws.ocp.viz.climate.perspective.SeparatorControl"
                id="gov.noaa.nws.ocp.viz.climate.perspective.separator">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
                </reference>
             </visibleWhen>
          </control>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.configparams"
                icon="icons/cli_config.png"
                id="gov.noaa.nws.ocp.viz.climate.configparams"
                label="Configure Climate Parameters"
                style="push"
                tooltip="Configure Climate Parameters">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.setupclimate"
                icon="icons/cli_setup.png"
                label="Set Up/Edit Climate Products"
                style="push"
                tooltip="Set Up/Edit Climate Products">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.initClimate.initClimate"
                icon="icons/cli_init.png"
                id="gov.noaa.nws.ocp.viz.climate.initClimate.initClimate"
                label="Initialize Climate Database"
                style="push"
                tooltip="Initialize Climate Database">
             <visibleWhen>
                <reference
                      definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
                </reference>
             </visibleWhen>
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu?after=CAVE">
       <menu
             id="gov.noaa.nws.ocp.viz.climate.perspective.ClimateToolsMenu"
             label="Tools"
             mnemonic="T">
          <visibleWhen>
             <reference
                   definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
             </reference>
          </visibleWhen>
          <separator
                name="top"
                visible="false">
          </separator>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationDailyMorning"
                label="Execute Morning Climate"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationDailyIntermediate"
                label="Execute Intermediate Climate"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationDailyEvening"
                label="Execute Evening Climate"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.qualitycontrol"
                label="Quality Control Climate Database"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationMonthly"
                label="Execute Monthly Climate"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationSeasonal"
                label="Execute Seasonal Climate"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationAnnual"
                label="Execute Annual Climate"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.f6builder.f6Builder"
                label="Create F6 Products"
                style="push">
          </command>
       </menu>
       <menu
             id="gov.noaa.nws.ocp.viz.climate.perspective.ClimateConfigMenu"
             label="Configuration"
             mnemonic="C">
          <visibleWhen>
             <reference
                   definitionId="gov.noaa.nws.ocp.viz.climate.perspective.inClimateActionSet">
             </reference>
          </visibleWhen>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.configparams"
                label="Configure Climate Parameters"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.setupclimate"
                label="Set Up/Edit Climate Products"
                style="push">
          </command>
          <command
                commandId="gov.noaa.nws.ocp.viz.climate.initClimate.initClimate"
                label="Initialize Climate Database"
                style="push">
          </command>
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="*">
       <perspectiveShortcut
             id="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspective">
       </perspectiveShortcut>
    </perspectiveExtension>
    <perspectiveExtension
          targetID="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspective">
       <actionSet
             id="gov.noaa.nws.ocp.viz.climate.perspective.ClimateActionSet">
       </actionSet>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.configparams"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M1+N">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationDailyMorning"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M1+M2+M">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationDailyIntermediate"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M1+M2+I">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationDailyEvening"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M1+M2+E">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationMonthly"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M3+M2+M">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationSeasonal"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M3+M2+S">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.display.DisplayStationAnnual"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M3+M2+A">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.f6builder.f6Builder"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M1+6">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.initClimate.initClimate"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M1+I">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.qualitycontrol"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M3+Q">
    </key>
    <key
          commandId="gov.noaa.nws.ocp.viz.climate.setupclimate"
          contextId="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          schemeId="com.raytheon.viz.ui.cave.scheme"
          sequence="M1+K">
    </key>
 </extension>
 <extension
       point="com.raytheon.uf.viz.ui.menus.tearoffperspective">
    <tearoffperspective
          enabled="true"
          perspectiveId="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspective">
    </tearoffperspective>
 </extension>
 <extension
       point="com.raytheon.uf.viz.core.classContext">
    <classContext
          class="gov.noaa.nws.ocp.viz.climate.perspective.ClimatePerspectiveManager">
       <contextId
             id="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext">
       </contextId>
    </classContext>
 </extension>
 <extension
       point="org.eclipse.ui.contexts">
    <context
          id="gov.noaa.nws.ocp.viz.climate.perspective.ClimateContext"
          name="Climate Perspective Context">
    </context>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="gov.noaa.nws.ocp.viz.climate.perspective.ClimateActionSet"
          label="Climate Action Set"
          visible="false">
    </actionSet>
 </extension>
 <extension
       point="com.raytheon.uf.viz.localization.perspective.localizationpath">
    <path
          application="Climate"
          localizationType="COMMON_STATIC"
          name="Product Types"
          recursive="true"
          value="climate/productTypes">
    </path>
    <path
          application="Climate"
          localizationType="COMMON_STATIC"
          name="ASOS"
          recursive="false"
          value="climate">
    </path>
 </extension>
   

</plugin>